
<h2 style="color:lightGrey;display: inline-block;">Pressupostos</h2>
<table class="table">
  <thead>
    <tr class="transparent">
      <th class="cela"><strong>Nom</strong></th>
      <th class="cela"><strong>Cognom</strong></th>
      <th class="cela"><strong>Situació Laboral</strong></th>
      <th class="cela"><a class="btn btn-info btn-xs" [routerLink]="['/addPressupost']">   Nou Pressupost
</a></th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let pressupost of pressupostos">
        <td class="cela">{{pressupost.nomPersona}}</td>
        <td class="cela">{{pressupost.cognomPersona}}</td>
        <td class="cela">{{pressupost.situacioLaboral}}</td>
        <td class="cela" width=275>
            <a class="btn btn-warning btn-xs glyphicon glyphicon-edit" routerLink="/editarPressupost/{{pressupost.id}}"></a>
            <a class="btn btn-danger btn-xs glyphicon glyphicon-trash" (click)="deletePressupost(pressupost.id)"></a>
        </td>
     </tr>
  </tbody>
</table>
