<h2>Pressupostos</h2>
<table class="table">
  <thead>
    <tr class="transparent">
      <th class="cela"><strong>Nom</strong></th>
      <th class="cela"><strong>Cognom</strong></th>
      <th class="cela"><strong>Situació Laboral</strong></th>
      <th class="cela">Acció</th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let pressupost of pressupostos">
        <td>{{pressupost.nomPersona}}</td>
        <td>{{pressupost.cognomPersona}}</td>
        <td>{{pressupost.situacioLaboral}}</td>
        <td width=275>
            <a class="btn btn-info" routerLink="/detallPressupost/{{pressupost.id}}">Detall</a> 
            <a class="btn btn-success" routerLink="/editarPressupost/{{pressupost.id}}">Editar</a>
            <a class="btn btn-danger" (click)="deletePressupost(pressupost.id)">Eliminar</a>
        </td>
     </tr>
  </tbody>

</table>
<a class="btn btn-success" [routerLink]="['/addPressupost']">Crear</a>