<h2>Pressupostos</h2>
<table class="table table-bordered">
  <thead class="table">
    <tr>
      <td ><strong>Nom</strong></td>
      <td ><strong>Cognom</strong></td>
      <td ><strong>Situació Laboral</strong></td>
      <td ><Strong>Acció</Strong></td>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let pressupost of pressupostos">
        <td>{{pressupost.nomPersona}}</td>
        <td>{{pressupost.cognomPersona}}</td>
        <td>{{pressupost.situacioLaboral}}</td>
        <td width=275>
            <a class="btn btn-primary" routerLink="/detallPressupost/{{pressupost.id}}">Detall</a> 
            <a class="btn btn-info" routerLink="/editarPressupost/{{pressupost.id}}">Editar</a>
            <a class="btn btn-danger" (click)="deletePressupost(pressupost.id)">Eliminar</a>
        </td>
     </tr>
  </tbody>

</table>
<a class="btn btn-success" style="width: 100%; " [routerLink]="['/addPressupost']">Afegir un nou Pressupost</a>