<!--The content below is only a placeholder and can be replaced.-->
<div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li [routerLinkActive]="['active']"><a class="btn btn-warning" [routerLink]="['/logout']"><strong> Logout </strong></a></li>

            <li [routerLinkActive]="['active']"><a class="btn btn-default" [routerLink]="['/tiquet']"><strong>Tiquet</strong></a></li>
            
            <li [routerLinkActive]="['active']"><a class="btn btn-default" [routerLink]="['/pressupost']"><strong>Pressupostos</strong></a></li>

            <!--<li [routerLinkActive]="['active']"><a [routerLink]="['/add']">Afegir un Pressupost</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
<router-outlet></router-outlet>
