<!--The content below is only a placeholder and can be replaced.-->
<!-- APP WEB  -->

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	<!-- <div class="container-fluid" *ngIf="logged"> -->
    <div class="navbar-header">
      <a class="navbar-brand" href="http://mon.uvic.cat/teknos/">ProjecteFinal</a>
    </div>
        <ul class="nav navbar-nav">          	
          	<li [routerLinkActive]="['active']"><a class="seleccionat" [routerLink]="['']"><strong> Home </strong></a></li>  

            <li [routerLinkActive]="['active']"><a class="seleccionat"[routerLink]="['/tiquet']"><strong>Tiquet</strong></a></li>
            
            <li [routerLinkActive]="['active']"><a class="seleccionat"[routerLink]="['/pressupost']"><strong>Pressupostos</strong></a></li>           
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php">
  			<div class="input-group">
   				<input type="text" class="form-control transparent-form" placeholder="Search">
    			<div class="input-group-btn">
      				<button class="btn btn-default transparent-form" type="submit">
        			<i class="glyphicon glyphicon-search"></i>
     		 		</button>
    			</div>
  			</div>
		</form>
        <ul class="nav navbar-nav navbar-right">
         	<li [routerLinkActive]="['active']"><a (click)="logout()" class="glyphicon glyphicon-log-out" [routerLink]="['']"><strong> Logout </strong></a></li>
        </ul>
      </div>
   
<!--
    <div class="container-fluid" *ngIf="!logged">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">ProjecteFinal</a>
    </div> 
    	<ul class="nav navbar-nav navbar-right">
            <li [routerLinkActive]="['active']"><a class="glyphicon glyphicon-log-in" [routerLink]="['/login']"><strong> Login </strong></a></li>
        </ul>
    </div>-->
</nav>
<div style="margin-top: 30px;padding:26px;">

<router-outlet ></router-outlet>
</div>