<!--The content below is only a placeholder and can be replaced.-->
<div id="navbar" class="navbar navbar-inverse">

	<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']">ProjecteFinal</a>
    </div>

        <ul class="nav navbar-nav">
          	
          	<li [routerLinkActive]="['active']"><a class="active" [routerLink]="['']"><strong> Home </strong></a></li>  

            <li [routerLinkActive]="['active']"><a [routerLink]="['/tiquet']"><strong>Tiquet</strong></a></li>
            
            <li [routerLinkActive]="['active']"><a [routerLink]="['/pressupost']"><strong>Pressupostos</strong></a></li>
           
        </ul>
        <ul class="nav navbar-nav navbar-right">
         	<li [routerLinkActive]="['active']"><a class="glyphicon glyphicon-log-out" [routerLink]="['/logout']"><strong> Logout </strong></a></li>

            <li [routerLinkActive]="['active']"><a class="glyphicon glyphicon-log-in" [routerLink]="['/login']"><strong> Login </strong></a></li>
        </ul>
      </div>
    </div>
<router-outlet></router-outlet>
