/* You can add global styles to this file, and also import other style files */
body{
  background-image: url("app/vendor/fons-home.jpg");
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   color: black;
}
thead .cela{
   color:white !important;
   border: 0px !important;
   border-radius: 50px;
   text-align: center;
}

tbody .cela{
   color:white !important;
   border-radius: 50px;
   background-color: LightGrey;
   text-align: center;
}

.transparent {
   border: 0px !important;
   background-color: grey;   
   border: 4px black;
   opacity: 0.8;
   color: black;
}

.navbar .active .seleccionat{
	background-color: transparent;
	background: transparent;
   border-bottom: 1px solid white;
}

.navbar .active {
  
}

.transparent-form{
   background-color: grey;
   background: grey;
   border-color: black;
   color: black;
   opacity: 0.9;
}